doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/bootstrap.css')
  title Formulario
form
  fieldset
    legend Crea un nuevo evento
    .form-group.row
      label.col-sm-2.col-form-label(for='staticEmail') Email
      .col-sm-10
        input#staticEmail.form-control-plaintext(type='text' readonly='' value='email@example.com')
    .form-group
      label(for='exampleInputEmail1') Evento
      input#exampleInputEmail1.form-control(type='text' placeholder='Nombre del evento')
    .form-group
      label(for='exampleInputEmail1') Lugar
      input#exampleInputEmail1.form-control(type='text' placeholder='Nombre del lugar')
    .form-group
      label(for='exampleInputEmail1') Organizador
      input#exampleInputEmail1.form-control(type='text' placeholder='Nombre del organizador')
    .form-group
      label(for='exampleInputEmail1') Costo
      input#exampleInputEmail1.form-control(type='text' placeholder='$0.00')
    .form-group
      label(for='exampleInputEmail1') Descripcion
      input#exampleInputEmail1.form-control(type='text' placeholder='Escriba aqui')
    button.btn.btn-primary(type='submit') Submit
