head
  title Cuidando el planeta
  link(rel='stylesheet' href='/stylesheets/bootstrap2.css')

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/formulario') Navbar
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor02.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href='#') About
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text' placeholder='Search')
          button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search

.jumbotron
  h1.display-3 Hello, world!
  p.lead
    | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  hr.my-4
  p
    | It uses utility classes for typography and spacing to space content out within the larger container.
  p.lead
    a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
