head
  title Express
  link(rel='stylesheet' href='/stylesheets/bootstrap.css')

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/formulario') Navbar
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor02.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href='#') About
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text' placeholder='Search')
          button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
h1 Express
p Welcome to Express xd

form
  fieldset
    legend Legend
    .form-group.row
      label.col-sm-2.col-form-label(for='staticEmail') Email
      .col-sm-10
        input#staticEmail.form-control-plaintext(type='text' readonly='' value='email@example.com')
    .form-group
      label(for='exampleInputEmail1') Email address
      input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
      small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
    .form-group
      label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password' placeholder='Password')
    .form-group
      label(for='exampleSelect1') Example select
      select#exampleSelect1.form-control
        option 1
        option 2
        option 3
        option 4
        option 5
    .form-group
      label(for='exampleSelect2') Example multiple select
      select#exampleSelect2.form-control(multiple='')
        option 1
        option 2
        option 3
        option 4
        option 5
    .form-group
      label(for='exampleTextarea') Example textarea
      textarea#exampleTextarea.form-control(rows='3')
    .form-group
      label(for='exampleInputFile') File input
      input#exampleInputFile.form-control-file(type='file' aria-describedby='fileHelp')
      small#fileHelp.form-text.text-muted
        | This is some placeholder block-level help text for the above input. It&apos;s a bit lighter and easily wraps to a new line.
    fieldset.form-group
      legend Radio buttons
      .form-check
        label.form-check-label
          input#optionsRadios1.form-check-input(type='radio' name='optionsRadios' value='option1' checked='')
          |                 Option one is this and that&mdash;be sure to include why it&apos;s great
      .form-check
        label.form-check-label
          input#optionsRadios2.form-check-input(type='radio' name='optionsRadios' value='option2')
          |                 Option two can be something else and selecting it will deselect option one
      .form-check.disabled
        label.form-check-label
          input#optionsRadios3.form-check-input(type='radio' name='optionsRadios' value='option3' disabled='')
          |                 Option three is disabled
    fieldset.form-group
      legend Checkboxes
      .form-check
        label.form-check-label
          input.form-check-input(type='checkbox' value='' checked='')
          |                 Option one is this and that&mdash;be sure to include why it&apos;s great
      .form-check.disabled
        label.form-check-label
          input.form-check-input(type='checkbox' value='' disabled='')
          |                 Option two is disabled
    button.btn.btn-primary(type='submit') Submit